body{
    background-color: linear-gradient(180deg, #f7f7f7 0%, #f2f2f2 100%);
    transition: background 0.3s ease, color 0.3s ease;
    margin: 0;
    padding: 0;
  
}
.menu{
    background-color: #E3DDDE;
    padding: 5px 1%;
    display: flex;
    gap: 0% 1%;
    justify-content: center;
    align-items: center;
}

body.dark-mode .menu{
    background-color: #1c1820;
}

.menu > button{
    padding: 10px 20px;
    border-radius: 8px;
    background: #d4d2d2;
    color: #8da798;
    border: 0px solid #8da798;
    cursor: pointer;
    transition: all 0.2s ease;
}

.menu > button:hover{
    background: #c9cfcb;
    color: #8da798;
    border: 0px solid #8da798;
    transition: all 0.2s ease;
}

.menu > button:active {
    background: #cc4f4f;
    transition: all 0.2s ease;
}

body.dark-mode .menu > button{
    background-color: #8d3bdf;
}
body.dark-mode .menu > button:hover{
    background-color: #ffffff;
}


body.dark-mode {
    background: #171319;
}

.body-pad{
    padding:2% 5%;
    
}
/**/
.mainCard{
    background-color:#fcfcfc;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.05);
    
}

body.dark-mode .mainCard {
    background: #241c23;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.20);
    border:1px solid #372d36;
}
/* green button*/
.grn-btn {
    
    border-radius: 8px;
    background: transparent;
    color: #8da798;
    border: 1px solid #8da798;
    cursor: pointer;
    transition: all 0.2s ease;
}

.grn-btn:hover {
    background:#b0cabb;
    color: #ffffff;
}

body.dark-mode .grn-btn {
    background: transparent;
    color: #6e9585;
    border: 1px solid #5a796c;
}

body.dark-mode .grn-btn:hover {
    background: #31473e;
    color: #e6e6e6;
}

/* main text like titels*/
.main-text{

    color: #796465;
}

body.dark-mode .main-text {
    color: #91787B;
}

.second-text{
    color: #91787B;
    
}


/*dark theme button */
#themeToggle {
    position: fixed;
    top: 7px;
    right: 20px;
    background: #ffffff;
    color: #222;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;

}

body.dark-mode #themeToggle {
    background: #1b1b1b;
    color: #e6e6e6;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

#themeToggle:hover {
    opacity: 0.85;
}

/* input */
.inpt{
    background: transparent;
    border: 1.5px solid #939194a9;
    border-radius: 10px;
    
}

/* for ivalid or empty input */
.inpt-err{
    border: 1px solid red;
}

.inpt::placeholder{
    color: #5f7ea1;
}

/*this oif for hiding the very ugly numbers arrows on the input from the number type**/
/* Chrome, Safari, Edge */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

body.dark-mode .inpt {
    background: transparent;
    color: #8a7b74;
    border: 1px solid #9e928c;
} 

body.dark-mode .inpt-err {
    border: 1px solid rgb(116, 3, 3);
} 

body.dark-mode .inpt::placeholder{
    color: #475840;
}

.role-btn {
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #E9D3AF;
    border-radius: 10px;
    background: transparent;
    color: #E9D3AF;
    cursor: pointer;
    transition: 0.1s;
}

/* Hover */
.role-btn:hover {
    background: #F6EDDF;
}

/* Selected radio */
.btn-check:checked + .role-btn {
    border: 3px solid #E9D3AF;
}

body.dark-mode .role-btn{
    border: 1px solid #523810;
    color: #523810;

}

/* Hover dark mode*/
.role-btn:hover {
    background: #c5a87ba4;
    color: white;
}

/* Selected radio dark mode */
body.dark-mode .btn-check:checked + .role-btn {
    border: 3px solid #523810;
}

.secondary-card{
    margin: 15px;
    background-color:#f7ebea;
    border: 1px solid #e4b7b3;
    border-radius: 8px;
}

body.dark-mode .secondary-card{
    background: #312730;
    border:1px solid #443843;
    
}

.category-btn {
    margin: 3px;
    border: 0px solid #ccc;
    background: white;
    cursor: pointer;
    border-radius: 6px;
}

.category-btn.active {
    background: #94bbe7;
    color: white;
    border-color: #4a90e2;
}
.category-btn:hover {
    background: rgb(165, 133, 133);
}

body.dark-mode .category-btn{
    background: rgb(255, 19, 19);
}

body.dark-mode .category-btn.active{
    background: rgb(73, 41, 41);
}

body.dark-mode .category-btn:hover {
    background: rgb(165, 133, 133);
}