body {
    background: #f1f0fa;
    transition: background 0.3s ease, color 0.3s ease;
    margin: 0;
    padding: 0;
    color: #353340;

}

.menu {
    background-color: #e4e2f4;
    padding: 5px 1%;
    display: flex;
    gap: 0% 1%;
    justify-content: center;
    align-items: center;
}

body.dark-mode .menu {
    background-color: #1c1820;
}

.error-msg {
    color: salmon;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

.inpt-err {
    border: 2px solid red
}

/*
.menu > button{
    padding: 10px 20px;
    border-radius: 8px;
    background: #d4d2d2;
    color: #8da798;
    border: 0px solid #8da798;
    cursor: pointer;
    transition: all 0.2s ease;
}

.menu > button:hover{
    background: #c9cfcb;
    color: #8da798;
    border: 0px solid #8da798;
    transition: all 0.2s ease;
}

.menu > button:active {
    background: #cc4f4f;
    transition: all 0.2s ease;
}*/

body.dark-mode .menu>button {
    background-color: #6f52d9;
}

body.dark-mode .menu>button:hover {
    background-color: #ffffff;
}


body.dark-mode {
    background: #171319;
    color: #f1f1f1;
}

.body-pad {
    padding: 2% 5%;

}

/**/
.mainCard {
    background-color: #faf9fe;
    box-shadow: 0 8px 22px rgba(90, 40, 120, 0.07);
    border: 1px solid #e1ddf1;

}

body.dark-mode .mainCard {
    background: #241c23;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.20);
    border: 1px solid #372d36;
}

/* green button*/
.grn-btn {

    border-radius: 8px;
    background: transparent;
    color: #5f8574;
    border: 1px solid #5f8574;
    cursor: pointer;
    transition: all 0.2s ease;
}

.grn-btn:hover {
    background: #cfe3d8;
    color: #3f5d4f;
}

body.dark-mode .grn-btn {
    background: transparent;
    color: #6e9585;
    border: 1px solid #5a796c;
}

body.dark-mode .grn-btn:hover {
    background: #31473e;
    color: #e6e6e6;
}

/* main text like titels*/
.main-text {

    color: #574f70;
}

body.dark-mode .main-text {
    color: #91787B;
}

.second-text {
    color: #8b7a90;

}


/*dark theme button */
#themeToggle {
    position: fixed;
    top: 7px;
    right: 20px;
    background: #ffffff;
    color: #222;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;

}

body.dark-mode #themeToggle {
    background: #1b1b1b;
    color: #e6e6e6;
    border: 1px solid rgba(255, 255, 255, 0.15);
}

#themeToggle:hover {
    opacity: 0.85;
}

/* input */
.inpt {
    background: transparent;
    border: 1.5px solid #c2bedb;
    border-radius: 10px;

}



/* for ivalid or empty input */
.inpt-err {
    border: 1px solid red;
}

.inpt::placeholder {
    color: #807b9a;
}

/*this oif for hiding the very ugly numbers arrows on the input from the number type**/
/* Chrome, Safari, Edge */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

body.dark-mode .inpt {
    background: transparent;
    color: #8a7b74;
    border: 1px solid #9e928c;
}

body.dark-mode .inpt-err {
    border: 1px solid rgb(116, 3, 3);
}

body.dark-mode .inpt::placeholder {
    color: #8b7a90;
}

.role-btn {
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #8072cf;
    border-radius: 10px;
    background: transparent;
    color: #5f5891;
    cursor: pointer;
    transition: 0.1s;
}

/* Hover */
.role-btn:hover {
    background: #e4e0fb;
}

/* Selected radio */
.btn-check:checked+.role-btn {
    border: 3px solid #6f52d9;
}

body.dark-mode .role-btn {
    border: 1px solid #523810;
    color: #523810;

}

/* Hover dark mode*/
body.dark-mode .role-btn:hover {
    background: #c5a87ba4;
    color: white;
}

/* Selected radio dark mode */
body.dark-mode .btn-check:checked+.role-btn {
    border: 3px solid #523810;
}

.secondary-card {
    margin: 15px;
    background-color: #ecebf7;
    border: 1px solid #dad5ee;
    border-radius: 8px;
}

body.dark-mode .secondary-card {
    background: #312730;
    border: 1px solid #443843;

}

.category-btn {
    margin: 3px;
    border: 0px solid #ccc;
    background: #faf9fe;
    cursor: pointer;
    border-radius: 6px;
}

.category-btn.active {
    background: #6f52d9;
    color: white;
    border-color: #5b3ec4;
}

.category-btn:hover {
    background: #e4e0fb;
}

body.dark-mode .category-btn {
    background: rgb(255, 19, 19);
}

body.dark-mode .category-btn.active {
    background: rgb(73, 41, 41);
}

body.dark-mode .category-btn:hover {
    background: rgb(165, 133, 133);
}

/* basic non big or important buttons */
.base-btn {
    padding: 8px 12px;
    border-radius: 7px;
    border: 0px;
    cursor: pointer;
    background-color: #e4e0fb;
    color: #453c8f;
}

.base-btn:hover {
    background-color: #d5cef7;
    color: #382f78;
}

body.dark-mode .base-btn {
    background-color: rgba(255, 255, 255, 0.13);
    color: whitesmoke;
}

body.dark-mode .base-btn:hover {
    background-color: #8a7b7481;
    color: whitesmoke;
}

#questionDiff {
    width: 100%;
    height: 2px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

/* Chrome / Edge / Safari */
#questionDiff::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    transition: 0.2s;
}


.red-btn {
    background-color: #cf2626;
    color: whitesmoke;
}

.red-btn:hover {
    background-color: #e65252;
}

body.dark-mode .red-btn {
    background-color: rgba(122, 35, 35, 0.726);
    color: whitesmoke;
}

body.dark-mode .red-btn:hover {
    background-color: rgba(161, 70, 70, 0.726);
    color: whitesmoke;
}

#menuBTNS {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;


}