.container{
    padding: 50px ;
}

.mainCard{
    padding: 20px;

}
.exam-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 12px;
}


.run-btn{
    background-color: rgb(172, 240, 192);
}

.edit-btn{
    background-color: rgb(240, 228, 172);

}

.delete-btn{
    background-color: rgb(255, 127, 127);

}

.base-btn{
    padding: 8px 12px;
    border-radius: 7px;
    border: 0px;
}


body.dark-mode .run-btn{
    background-color: #305848;
    color: #6d9786;
}

body.dark-mode .edit-btn{
    background-color: #808053;
    color: #bcc48e;

}

body.dark-mode .delete-btn{
    background-color: rgb(100, 26, 26);
    color: #c48e8e;

}

.base-btn:hover{
    background-color: rgb(255, 0, 0);
}

body.dark-mode .base-btn:hover{
    background-color: rgba(255, 255, 255, 0.13);
    color: whitesmoke;
}
