
/* body */
body {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    height: 100vh;
}



/* main container */
#mainC{
    justify-items: center;
    padding: 5%;
    
}


#strtBTN {
    font-size: 25px;
}


.mainCard{
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    border-radius: 16px;
    gap: 20px;
    
}


.mainCard, #strtBTN {
    transition: all 0.2s ease;
}





